<li class="board-item">
  <h2 class="content"><%= link_to board.title, board %></h2>
  <span class="timestamp">
    Posted <%= time_ago_in_words(board.created_at) %> ago.
  </span>
  <% if current_user?(board.user) %>
    <%= link_to "delete", board, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: board.title %>
  <% end %>
  <br />
  <span>Current mark count: <strong><%= board.marks.count %></strong></span>
</li>